venv/
__pycache__/
*.pyc
.env/
.DS_Store
.idea/
nlp_dataset
src_small
Eng
Training/Emb
Training/cache
Training/Error
Training/config.yaml
Final/config.yaml
Training/test.pt
Training/vn.txt
Training/multi.txt
Training/black.txt
Final/Data
